:root {
    --header-height: 4rem;
}

#header {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--header-height);
    line-height: var(--header-height);
    background: var(--colour-white-transparent);
    transition: background 200ms;
    text-align: center;
}

#header:hover {
    background: #eeeeee;
}

#header .logo {
    background: black;
    color: white;
}

#header-centre {
    color: black;
}

#header-right {
    display: grid;
    grid-template-columns: auto auto;
}

#header-right button {
    background: black;
    color: white;
}

#header-centre-inner {
    display: grid;
    grid-template-columns: repeat(6, auto);
    width: fit-content;
}

.header-button {
    line-height: var(--header-height);
    padding: 0 1.5rem;
    background: none;
}

.header-button:hover {
    background: #cccccc;
}
