#header {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background: var(--colour-white-transparent);
    transition: background 200ms;
}

#header .logo {
    background: black;
    color: white;
}

#header-centre {
    color: black;
}

#header-right {
    display: grid;
    grid-template-columns: auto auto;
    background: black;
}

#header-centre-inner {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: fit-content;
}

.header-button {
    padding: 0 2rem;
    line-height: 3rem;
    background: none;
}

#header-centre:hover {
    background: white;
}

#header-centre-inner .header-button:hover {
    background: #eeeeee;
}

#header-right .header-button {
    color: white;
}
