.menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + var(--header-height) / 2));
    background: #333333;
    display: block;
    width: 80vw;
    height: calc(100vh - 3 * var(--header-height));
    padding: 2rem;
}

.menu-select-container {
    display: grid;
    grid-template-columns: 1fr auto;
}

.menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
