.window-header {
    height: 4rem;
    line-height: 4rem;
    text-align: center;
}

.window-content {
    height: 30vh;
    overflow-y: scroll;
}

.window-content-inner {
    padding: 1rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--colour-white-transparent);
}

::-webkit-scrollbar-thumb:hover {
    background: white;
}
